.InviteList {
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0 0 10px 0;
  }

  h2{
    margin: 10px 0 10px 0;
  }
  p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

.PendingInvite {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding: 10px;

  div {
    margin-bottom: 3px;
  }

  &__Name {
    p {
      font-weight: bold;
      font-size: 16px;
      margin: 0;
    }
  }

  &__Info{
    span {
      margin-right: 5px;
    }
  }

  span {
    font-size: 12px;
  }

  .SocialProof {
    span {
      font-size: 11px;
      color: #333;
    }
  }

  .InviteActions {
    box-sizing: border-box;
    height: 22px;
    margin-top: 5px;
  }

}