.InviteList {
  display: flex;
  flex-direction: column;

  &__Limits{
    display: flex;
    flex-direction: column;

    .Limit {
      border-bottom: solid 1px #ccc;
      display: flex;
      line-height: 30px;

      :last-child {
        border: none;
      }

      &__Label {
        width: 180px;
        border-right: solid 1px #ccc;
      }

      span {
        margin-left: 10px;
        font-weight: bold;
      }

    }
    :last-child {
      border: none;
    }

  }

  h1 {
    margin: 0 0 10px 0;
  }

  h2{
    margin: 10px 0 10px 0;
  }
  p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

.Invite {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding: 15px;
  margin-bottom: 10px;

  div {
    margin-bottom: 3px;
  }

  &__Name {
    p {
      font-weight: bold;
      font-size: 16px;
      margin: 0;
    }
  }

  &__Info{
    span {
      margin-right: 5px;
    }
  }

  span {
    font-size: 12px;
  }

  .SocialProof {
    span {
      font-size: 11px;
      color: #333;
    }
  }

  .InviteActions {
    box-sizing: border-box;
    height: 22px;
    margin-top: 5px;
    button {
      height: 30px;
      width: 100%;
      box-sizing: border-box;
      cursor: pointer;
    }
  }

  &__RegistrationLink {
    margin-top: 4px;
    span {
      margin-right: 6px;
    }
  }
}

.InviteButton {
  height: 35px;
  width: 75%;
  margin: 5px auto 5px auto;
}

.SlightBold {
  font-weight: 500;
}

.NonLinkUrl {
  background-color: #ccc;
  padding: 3px;
  border: solid 1px #bbb;
}